.producto img{
width: 150px;
height: 150px;

}
.producto{
    background-color: #efeff5;
    color:rgb(2, 2, 2);
    display :flex;
justify-content: center;
align-items: center;
height: 400px;
width: 300px;
flex-direction: column;
border: 2px solid #007BFF;;
border-radius: 12px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.producto :hover{
    transform: scale(1.07);
      
        
        color:#007BFF;
         border-radius:12px;
         
    transition: 0.6s;
     }
.producto ul{
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.producto button{
background-color: #16a34a;
    border: none;
    padding: 8px 14px;
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    transition: all 0.2s ease;
}
.producto button:hover{
    background-color: rgb(11, 11, 12);
    transform: scale(1.1);
    box-shadow: 2px 2px 10px gray;
    color: rgb(24, 202, 78);
    
}
.producto p{
    margin: 5;
    padding: 5;
    font-size: 13px;
}
.producto button p {
    margin:0;
    padding: 0;
    font-size: 12px;
}